In [1]:
#IMPORT INDEPENDENCIES AND MOUNT DRIVE
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
#READ DATA FROM PANDAS LIBRARY
dataset = pd.read_csv('/content/drive/MyDrive/Datasets/Datasets/hiring.csv')
dataset

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [3]:
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [6]:
#DATA PREPROCESSING. TURNING NUMBERS INTO NUMERIC VALUES AND NaN TO 0.
from word2number import w2n
from sklearn.impute import SimpleImputer


# Replace NaN values with 0
imputer = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value=0)
X = imputer.fit_transform(X)

# Convert English words to numeric values
for i in range(len(X)):
    X[i][0] = w2n.word_to_num(str(X[i][0]))

In [7]:
#Independent variables
X

array([[0, 8.0, 9],
       [0, 8.0, 6],
       [5, 6.0, 7],
       [2, 10.0, 10],
       [7, 9.0, 6],
       [3, 7.0, 10],
       [10, 0, 7],
       [11, 7.0, 8]], dtype=object)

In [8]:
#SPLITING THE DATA
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=20)

In [9]:
#TRAING THE MODEL
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [10]:
#PREDICTING THE RESULT
prediction = model.predict(X_test)
prediction

array([64386.79421469, 86266.73030234, 52647.83880808])

In [11]:
#SHOWING PREDICTED AND ACTUAL RESULT SIDE BY SIDE
np.set_printoptions(precision=2) 
print(np.concatenate((prediction.reshape(len(prediction),1), y_test.reshape(len(y_test),1)),1))

[[64386.79 62000.  ]
 [86266.73 80000.  ]
 [52647.84 50000.  ]]

In [12]:
#Checking the Accuracy of model
from sklearn.metrics import r2_score
score = model.score(X_test, y_test)

print("R² score: ", score)

R² score:  0.8860093296950251

In [13]:
#manual predictions:
single_prediction = model.predict([[12,10,10]])
print (single_prediction)

[98867.09]